@font-face {
  font-family: 'Euro Caps';
  src: url('assets/fonts/eurocaps/eurocaps-webfont.eot');
  src:
    url('assets/fonts/eurocaps/eurocaps-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/eurocaps/eurocaps-webfont.woff2') format('woff2'),
    url('assets/fonts/eurocaps/eurocaps-webfont.woff') format('woff'),
    url('assets/fonts/eurocaps/eurocaps-webfont.ttf') format('truetype'),
    url('assets/fonts/eurocaps/eurocaps-webfont.svg#euro_capsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
