.chat-list-item {
  display: flex;
  //flex-wrap: wrap;
  width: 100%;

  .user {
    flex-basis: 15vw;
    flex-grow: 0;
    flex-shrink: 0;
    font-weight: bold;
    margin-right: 2rem;
    min-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .message {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
