.chat-message {
  margin: $default-gutter 0;
  padding: $default-gutter;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .user {}

  .message {
    color: $white;
  }
}
