.chat-list-item {
  margin-top: 1rem;
  padding: 1rem $default-gutter;

  .user {}
  .message {}

  &.system-message {
    .user {
      display: none;
    }

    .message {
      color: $grey;
    }
  }

  &.user-action {
    .user {
      text-align: right;
    }

    .message {
      color: inherit;
    }
  }

  &.user-message {
    .user {}

    .message {
      color: $white;
    }
  }
}
