.channel-list-item {
  align-items: center;
  display: flex;
  margin: 1rem 1rem 0;

  &:last-child {
    margin-bottom: 1rem;
  }

  .channel {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .new-message-notification {
    display: block;
  }

  &.unread .new-message-notification {
    display: inline-block;
  }
}
