.channel-list-item {
  align-items: center;
  display: flex;
  margin: 1rem 1rem 0;

  &:last-child {
    margin-bottom: 1rem;
  }

  .channel {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
  }

  .badge {
    display: block;
    font-size: 0.6em;
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
  }
}
