.chat {
  flex-grow: 1;
  overflow: auto;
  padding: 2rem;

  li {
    margin-bottom: 2rem;
  }
}

.chat-message-input {
  border: none;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: inherit;
  outline: none;
  padding: 2rem;
  width: 100%;
}
