<li class="fade-in" data-server="{{ name }}">
  <input type="checkbox" class="hidden" id="control::{{ name }}-channel-list">
  <label class="button" for="control::{{ name }}-channel-list">{{ name }}</label>
  <ol class="channel-list"></ol>
</li>
