<input type="checkbox" class="hidden" id="control::{{ name }}-channel-list">
<label class="button" data-server="{{ name }}" for="control::{{ name }}-channel-list">{{ name }}</label>
<ol class="channel-list"></ol>
