button, .button {
  background-color: rgba( $orange, 0.2 );
  background-image: repeating-linear-gradient(
    33deg,
    transparent,
    transparent 3px,
    rgba( $white, 0.02 ) 3px,
    rgba( $white, 0.02 ) 4px
  );
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    background-color: rgba( $orange, 1 );
    color: black;
  }
}
